<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.nirima.jenkins.plugins.docker.DockerJobProperty plugin="docker-plugin@0.16.0">
      <tagOnCompletion>false</tagOnCompletion>
      <additionalTag>sl6</additionalTag>
      <pushOnSuccess>false</pushOnSuccess>
      <cleanImages>true</cleanImages>
    </com.nirima.jenkins.plugins.docker.DockerJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>UMD_release</name>
          <description>UMD release version.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>4</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Verification_repository</name>
          <description>RepositoryURL custom field value in EGI RT system.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.LabelParameterDefinition plugin="nodelabelparameter@1.7.1">
          <name>OS</name>
          <description>Operating system required for the product deployment.

Available OSes: sl6, centos7, ubuntu</description>
          <defaultValue>sl6</defaultValue>
          <allNodesMatchingLabel>false</allNodesMatchingLabel>
          <triggerIfResult>allCases</triggerIfResult>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.LabelParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>OpenStack_release</name>
          <description>OpenStack release </description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>juno</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Deployment_type</name>
          <description>Selects whether to follow &apos;full-deployment&apos; (with testing) or &apos;installation-only&apos; approach.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>full-deployment</string>
              <string>installation-only</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/egi-qc/umd-verification</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>if [ ${Deployment_type} -eq &quot;installation-only&quot; ]; then
    sudo fab keystone-voms-${OpenStack_release}:umd_release=${UMD_release},repository_url=${Verification_repository},log_path=logs,qc_step=QC_DIST_1
else
    sudo fab keystone-voms-${OpenStack_release}:umd_release=${UMD_release},repository_url=${Verification_repository},log_path=logs
fi
#sudo /sbin/initctl --version
#sudo echo -e &apos;#!/bin/sh\nexit 0&apos; &gt; /usr/sbin/policy-rc.d
#sudo /usr/sbin/policy-rc.d
#sudo echo $?</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>logs/*</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.4.2">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</project>